.wrapper {
  padding: 0 16px;
}

.content {
  max-width: 960px;
  margin: auto;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto;
  margin: 24px 0;
}

a {
  color: var(--color-text-secondary);
}

.navbarLeft {
}

.navbarRight {
  justify-self: right;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 24px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    padding: 0 32px;
  }

  .navbar {
    margin: 32px 0;
  }
}
